.iconSize {
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}

.iconSpace {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.aboutUsContainer {
  max-width: 850px;
  height: 100%;
  background-color: #cec1fb;
  min-height: 100%;
  margin-top: -100px;
}

.aboutUsContainer p {
  padding-left: 60px;
  padding-right: 60px;
}

.box {
  height: 150px;
  width: 750px;
  border: solid 4px #6b5d92;
  border-radius: 10px;
  background-color: #fffcf2;
  margin-bottom: 30px;
  margin-left: 6%;
}

.displayDesk {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.titleDesc {
  margin-bottom: -50px;
}

.box p {
  margin-bottom: -50px;
}

.box h5 {
  margin-bottom: -50px;
  margin-left: 5%;
}

.button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #6b5d92;
  color: #fffcf2;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #4b3e6d;
}

.button a {
  color: #fffcf2;
  text-decoration: none;
}
