body {
  background-color: #CEC1FB;
  font-family: 'Archivo Black', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: #6B5D92;
  font-size: 40px; /* Adjust font size */
}

.custom-table {
  width: 60%; /* Decrease table width */
}

.custom-table th,
.custom-table td {
  padding: 5px; /* Reduce padding */
  border: 2px solid #6B5D92;
  flex-direction: column; /* Display columns */
  align-items: center; /* Center align items */
}

.custom-table th {
  background-color: #FFFCF2;
  font-weight: bold;
}

.custom-table-container {
  display: flex;
  justify-content: center;
}

.custom-table tr:nth-child(even) {
  background-color: #FFFCF2;
}

.custom-table tr:hover {
  background-color: #FFFCF2;
}

.imageSize {
  width: 50px; /* Adjust image size */
  height: 50px; /* Adjust image size */
  margin-bottom: 10px; /* Reduce margin */
}

.imageSpace {
  margin-bottom: 10px; /* Reduce margin */
}

section {
  padding-left: 20px; /* Adjust padding */
}

h1 {
  font-size: 40px; /* Adjust font size */
  font-weight: bold;
  color: rgb(79, 18, 79);
  padding-top: 30px; /* Adjust padding */
  padding-bottom: 30px; /* Adjust padding */
}

.logos {
  position: fixed;
  top: 20px; /* Adjust top position */
  right: 20px; /* Adjust right position */
  left: auto; /* Adjust left position */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.activate {
  height: 200px; /* Adjust image size */
  width: 200px; /* Adjust image size */
}

.oval-button {
  width: 80px; /* Adjust button size */
  height: 30px; /* Adjust button size */
  border-radius: 50%;
  background-color: #6B5D92;
  color: #FFFCF2;
  font-size: 14px; /* Adjust font size */
  border: none;
  margin-bottom: 5px; /* Reduce margin */
}
