.track-container {
  min-height: 100%;
}

.track-container {
    background-color: #F8F3E2;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.floor-content {
  background-color: #CEC1FB;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.activities {
  list-style: none;
  padding: 0;
}

.activities li {
  background-color: #9381C7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.avatar img {
  width: 150px;
  margin-bottom: -20px;
  height: auto;
  display: flex;
  justify-content: center;
}

.floor-content h1 {
  margin: 0;
}

.profile {
  margin-bottom: 20px;
  padding: 25px;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: -5px;
}

.homeLevel {
  max-width: 10%;
  max-height: 10%;
  width: auto;
  height: auto;
  margin-top: 20%;
}

.level {
  margin-top: -38px;
  font-size: 12px;
}

.selected-item {
  margin-left: -15px;
}

.activities {
  list-style-type: none;
  padding-left: 0;
}

.activities li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #9381C7;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.activities li input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.activities {
  list-style-type: none;
  padding-left: 0;
}

.activities li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #9381C7;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

.activities li .checkbox-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;
}

.activities li input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1);
}

.activities li label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.activities li input[type="checkbox"] {
  margin-right: 10px;
  width: 70px;
  height: 50px;
}

.activities li span {
  cursor: pointer;
  color: white;
}

.activities li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.level-progress-container {
  height: 20px;
  width: 100%;
  background-color: #fffcf2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 3px solid #9381c7;
}

.level-progress-bar {
  height: 100%;
  background-color: #CEC1FB;
  border-radius: 8px;
  transition: width 0.3s ease-in-out;
}

/* Navigation Icons Container */
.logos {
  position: fixed;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: auto;
  height: auto;
  pointer-events: none;
}

/* Style for individual icons within the navigation */
.logos img {
  width: 50px;
  height: auto;
  cursor: pointer; 
  margin: 10px 0;
}

/* Pointer-events to ensure only the icons are clickable and not the entire container */
.logos img {
  pointer-events: auto;
  margin: 1opx 0;
}

.logos {
  pointer-events: none;
}
