.trait-container {
  background-color: #FCFCFC;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  max-width: 350px;
  margin: auto;
}



/*Title */
.trait-header {
  color: #9381c7;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

/* the border/box of the rait-option */
.trait-option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid  #CEC1FB;
  border-radius: 10px;
  padding: 10px;
  background-color: #9381c7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* .trait-option input[type='radio'] {
    margin-right: 10px;
    accent-color: #4a2ab3;
  } */

.trait-option label {
  color: #fcfcfc;
  font-weight: bold;
  text-transform: uppercase;
  flex-grow: 1;
}

/* Additional styles for radio button customization or customization the checklist box*/
.trait-option input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Style for when the radio button is checked */
.trait-option input[type="radio"]:checked {
  background-color: #6e5baa;
  border-color: #d5d1e5;
}

button[type="submit"] {
  background-color: #6b5d92;
  color: #fcfcfc;
  border: 1px solid #cec1fb;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Slightly darker on hover for feedback */
button[type="submit"]:hover {
  background-color: #9381c7;
}
/* this code is trait or adjust of the width of the homepage */
.trait {
  color: #9381c7;
  padding: 20px;
  margin: 10px 0; 
  border-radius: 8px;
  font-size: 14px;
}

/* this code just shift the register and login button */
.button-section {
  display: flex;
  gap: 10px;
}


/* Existing styles */
.overlay {
  position: fixed; /* Or absolute, depending on your layout */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above all other content */
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center the text inside the overlay content */
}
