.registration-form {
  max-width: 6500px;
  margin: auto;
  padding: 20px;
}
.success-message {
  color: rgb(54, 122, 54);
}

.error-message {
  color: rgb(156, 6, 6);
}

button {
  margin-top: 5%;
  background-color: #9381c7;
  justify-content: space-between;
}

.form-group {
  padding: 10px;
}

.col-med-4 offset display-info {
  background-color: #9381c7;
}