.registration-form {
  max-width: 6500px;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.success-message {
  color: rgb(54, 122, 54);
}

.error-message {
  color: rgb(156, 6, 6);
}

button {
  margin-top: 5%;
  background-color: #9381c7;
  justify-content: space-between;
}

.form-group {
  padding: 10px;
}

.col-med-4 offset display-info {
  
}
