body {
  background-color: #F8F3E2;
  padding:0;
  margin: 0;
  height: 100%;
  font-family: 'Archivo Black', sans-serif;
  color: #6B5D92;
  display: flex; /* Added */
  justify-content: center; /* Added */
  align-items: center; /* Added */
}
.oval-button {
  width: 100px;
  height: 40px;
  border-radius: 50%;
  background-color: hsla(248, 72%, 18%, 0.885);
  color: #fff;
  font-size: 16px;
  border: none;
}

/* .full-page-box {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #CEC1FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  margin-left: 100px;
  overflow-y: auto;
} */

.full-page-box {
  width: 850px;
  height: 100%;
  background-color: #CEC1FB;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  margin: 0 auto; /* Add this line to center the box horizontally */
}

hr {
  border: solid #6B5D92;
  width: 1900px;
}

.box {
  height: 150px;
  width: 600px;
  border: solid 4px #6B5D92;
  background-color: #FFFCF2;
  margin-bottom: 30px;
}

.imageSize1 {
  max-width: 150px; /* Ensures the image doesn't exceed the container's width */
  max-height: 150px; /* Ensures the image doesn't exceed the container's height */
  width: auto; /* Ensures the image maintains its aspect ratio */
  height: auto; /* Ensures the image maintains its aspect ratio */
}

.imageSpace1 {
  width: 200px; /* Define the width of the container */
  height: 200px; /* Define the height of the container */
  overflow: hidden; /* Ensures the image doesn't overflow the container */
  margin-top: 60px;
}

.logos {
  position: fixed;
  top: 50%; /* Adjust as needed to vertically center the navigation */
  right:100px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 300px;

}

.displayInLine {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  padding-top: 20px;

}

h1{
  text-decoration:currentColor;
  font-weight: lighter;
  color: #6B5D92;
  text-align: center;
}

h2{
  text-decoration: #6B5D92;
  font-style:inherit;
  font-weight: bolder;
  margin-right: 20%; /* Adjust margin as needed */
  margin-top: 10%;
  font-size: 40px;
}

.levelTrack {
  margin-top: -150px;
  font-size: 30px;
}

h4 {
margin-top: 1000px;
}

.wholeLevel{
  margin-bottom: 100px;
}