body {
  background-color: #F8F3E2;
  padding:0;
  margin: 0;
  height: 100%;
  font-family: 'Archivo Black', sans-serif;
  color: #6B5D92;
}
.oval-button {
  width: 100px;
  height: 40px;
  border-radius: 50%;
  background-color: hsla(248, 72%, 18%, 0.885);
  color: #fff;
  font-size: 16px;
  border: none;
}
.full-page-box {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #CEC1FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  margin-left: 100px;
  overflow-y: auto;
}
hr {
  border: solid black;
  width: 1900px;
}
.box {
  height: 200px;
  width: 1000px;
  border: solid black;
  background-color: #FFFCF2;
  margin-bottom: 80px;
}
.imageSize1 {
  width: 250px;
  height: 250px;
}

.levelDisplay {
  width: 200px;
  height: 200px;
}

.imageSpace1{
 margin-bottom: 20px;

}

.logos {
  position: fixed;
  top: 0;
  right:100px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 300px;

}

.displayInLine {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 20px;

}
h1{
  text-decoration:currentColor;
  font-weight: lighter;
  color: #6B5D92;
}
h2{
  text-decoration: black;
  font-style:inherit;
  font-weight: bolder;
}