body {
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5b00af;
}

body, #popup-content, .trackbtn {
    font-family: 'Grandstander', cursive;
}

#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#popup-content {
    font-family: 'Grandstander', cursive;
    color: rgb(126, 36, 138);
    background-color: #ffeab0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

#track-selection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trackbtn {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 85%;
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#pal-img {
    height: 30%;
    width: 15%;
}

.challenges {
    display: inline-flex;
}

#content-container {
    text-align: center;
    height: 800px;
    width: 1100px;
    z-index: 1;
    border: 5px solid #5b00af; /* Border added */
    padding: 20px;
    border-radius: 8px;
}

#trait-details {
    margin: auto;
}

#welcome-message {
    margin-bottom: 20px;
}

.checkbox-wrapper-63 {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.checkbox-wrapper-63 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-63 *,
.checkbox-wrapper-63 ::after,
.checkbox-wrapper-63 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-63 .switch {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 4em;
    height: 2em;
}

/* The slider */
.checkbox-wrapper-63 .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #eee;
    transition: 0.4s;
    border-radius: 0.5em;
    box-shadow: 0 0.2em #dfd9d9;
}

.checkbox-wrapper-63 .slider:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.4em;
    border-radius: 0.3em;
    left: 0.3em;
    bottom: 0.7em;
    background-color: lightsalmon;
    transition: 0.4s;
    box-shadow: 0 0.4em #bcb4b4;
}

.checkbox-wrapper-63 .slider:hover::before {
    box-shadow: 0 0.2em #bcb4b4;
    bottom: 0.5em;
}

.checkbox-wrapper-63 input:checked + .slider::before {
    transform: translateX(2em);
    background: lightgreen;
}
